@media screen and (min-width: 750px){
    html {
        background-color: black;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: baseline;
        max-width: 1200px;
        margin: auto;
        background-color: white;

    }
    header{
        padding-right: 1em;
    }
    header ul{
        flex-direction: column;
        align-items: flex-end;
    }
    header li {
        padding: 0.5em 0;
    }
    main {
        width: 65%;
        padding-right: 1em;
    }
    footer {
        display: block;
    }
    footer ul{
        padding: 2em;
    }
    footer li {
        padding: 0.3em;
    }
}
